.include /usr/lib/systemd/system/netctl@.service

[Unit]
BindsTo=sys-subsystem-net-devices-enp3s0.device
After=sys-subsystem-net-devices-enp3s0.device
