# * * * * *      command to be executed
# - - - - -
# | | | | |
# | | | | +----- day of week (0 - 6) (Sunday=0)
# | | | +------- month (1 - 12)
# | | +--------- day of month (1 - 31)
# | +----------- hour (0 - 23)
# +------------- min (0 - 59)

 0 1 * * * find $HOME/Downloads -maxdepth 1 -type f -mtime +7 -name '*.torrent' -exec rm {} +
#10 1 * * * cd $HOME/backups && ./backup_calibre.sh      >log/cron-calibre.out      2>log/cron-calibre.err
30 1 * * * cd $HOME/backups && ./backup_personal.sh     >log/cron-personal.out     2>log/cron-personal.err
 0 2 * * * cd $HOME/backups && ./backup_projects.sh     >log/cron-projects.out     2>log/cron-projects.err
 0 4 * * * cd $HOME/backups && ./backup_beardedlogic.sh >log/cron-beardedlogic.out 2>log/cron-beardedlogic.err

