[Desktop Entry]
Comment=Color temperature adjustment tool
Name=Redshift
Exec=redshift -l -33.8683:151.2086
StartupNotify=true
Terminal=false
GenericName=Color temperature adjustment
Version=1.0
Type=Application
Categories=Utility;
Icon=redshift
Hidden=true

