.include /usr/lib/systemd/system/netctl@.service

[Unit]
Description=DB home network
BindsTo=sys-subsystem-net-devices-wlp11s0.device
After=sys-subsystem-net-devices-wlp11s0.device
