[user]
  name = David Barri
  email = japgolly@gmail.com

[alias]
   st        = status
   co        = checkout
   b         = branch
   mt        = mergetool
   l         = log --format='%C(yellow)%h%Creset %ai %C(cyan)<%an>%Creset %s'
   lol       = log --graph --decorate --abbrev-commit --format='%C(yellow)%h%Creset %C(GREEN)%ai%Creset%C(bold magenta)%d%Creset %s'
   lola      = log --graph --decorate --abbrev-commit --format='%C(yellow)%h%Creset %C(GREEN)%ai%Creset%C(bold magenta)%d%Creset %s' --all
   deleted   = log --diff-filter=D --stat
   sl        = stash list --format='%C(yellow)%h%Creset %ai | %s'
   stashred  = stash --keep-index --include-untracked
   diffs     = diff --staged
   diffw     = diff --color-words
   cp        = cherry-pick
   wipe      = reset --hard
   unstage   = reset HEAD
   ms        = merge --squash --no-commit

[color]
   ui = true
   diff = auto
   status = auto
   branch = auto

# http://stackoverflow.com/questions/10998792/how-to-color-the-git-console-in-ubuntu
[color "diff"]
  meta = yellow bold
  old = red bold
[color "status"]
  changed = red bold
  untracked = red bold

[gui]
  historybrowser = gitg
  editor = leafpad
[cola]
  tabwidth = 2
  fontdiff = Monospace,10,-1,5,50,0,0,0,0,0
  textwidth = 120

[push]
  default = upstream

[stash]
  showPatch = true

[merge]
  tool = kdiff3
  renamelimit = 999999

[diff "odf"]
  textconv = odt2txt

[diff "cssmin"]
  wordRegex = "[^{};]+"

[diff]
  renameLimit = 32000
