[user]
	name = David Barri
	email = japgolly@gmail.com

[alias]
   st = status
   co = checkout
   b = branch
   mt = mergetool
   l = log --format='%C(yellow)%h%Creset %ai %C(cyan)<%an>%Creset %s'
   diffs = diff --staged
   cp = cherry-pick
   lol = log --graph --decorate --pretty=oneline --abbrev-commit
   lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
   wipe = reset --hard
   unstage = reset HEAD

[color]
   ui = true
   diff = auto
   status = auto
   branch = auto
[color "diff"]
	meta = yellow bold

[gui]
	historybrowser = gitg
	editor = leafpad
[cola]
	tabwidth = 2
	fontdiff = Monospace,10,-1,5,50,0,0,0,0,0

[push]
	default = upstream

[diff "odf"]
	textconv = odt2txt
