[user]
	name = David Barri
	email = japgolly@gmail.com

[alias]
   st      = status
   co      = checkout
   b       = branch
   mt      = mergetool
   l       = log --format='%C(yellow)%h%Creset %ai %C(cyan)<%an>%Creset %s'
   lol     = log --graph --decorate --abbrev-commit --format='%C(yellow)%h%Creset %C(GREEN)%ai%Creset%C(bold magenta)%d%Creset %s'
   lola    = log --graph --decorate --abbrev-commit --format='%C(yellow)%h%Creset %C(GREEN)%ai%Creset%C(bold magenta)%d%Creset %s' --all
   sl      = stash list --format='%C(yellow)%h%Creset %ai | %s'
   diffs   = diff --staged
   diffw   = diff --color-words
   cp      = cherry-pick
   wipe    = reset --hard
   unstage = reset HEAD
   ms      = merge --squash --no-commit

[color]
   ui = true
   diff = auto
   status = auto
   branch = auto
[color "diff"]
	meta = yellow bold

[gui]
	historybrowser = gitg
	editor = leafpad
[cola]
	tabwidth = 2
	fontdiff = Monospace,10,-1,5,50,0,0,0,0,0

[push]
	default = upstream

[merge]
  tool = kdiff3

[diff "odf"]
	textconv = odt2txt

[diff "cssmin"]
    wordRegex = "[^{};]+"

